i.editicon {
	cursor: pointer;
}
i.editicon:hover {
	color: red;
}
i.okicon {
	cursor: pointer;
}
i.okicon:hover {
	color: green;
}

img.bookingadmin {
	opacity: .33;
	cursor: pointer;
}

div.eventedit {
	opacity: .5;
	cursor: pointer;
	/*width: 150px;*/
	margin: 0 5px 0 5px;
	float: left;
}

table#stickyHeader thead {
	border-top: none;
	border-bottom: none;
	background-color: #FFF;
}